body{
    font-family: 'Montserrat', sans-serif;
    background-color:silver ;
}
/* To merg cells */
table {
    border-collapse: collapse;
  }
#head{
    height: 14em;
    background-color: #fb4447;
    padding: 2px;
}
#intro1{
    letter-spacing: 0.2em;
    padding-left: 5.5em;
    padding-top: 0em; 
    margin: 0;
    padding-bottom: 2em;
}
#intro{
    /* padding-bottom: 0px; */
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-left: 2em;
    padding-top: 1em;
    /* padding-bottom: 1em; */
}

#left-column{
    padding-left: 50px;
    padding-right: 40px;
    padding-top: -10px;
    background-color: #2a374a;
}
#right-column{
    padding-left: 45px;
    padding-top: 5em;
    border-top: #2a374a;
    background-color: white;
    
}
#c1{
    color: #fb4447;
}
hr{
    background-color: #fb4447;
    height: 3px;
}
img{
    float: right;
    width: 120px;
}
body{
    margin: 30px 200px; 
}
#a{
    margin-bottom:0 ;
}
#b{

}